$root: '.p-mv';

#{$root} {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    @include max-screen($breakpoint-sp) {
        height: 100vh;
        align-items: flex-start;
    }
    .image{
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        background-image: url('../images/common/loading.jpg');
        background-size: cover;
        background-position: center bottom;
        opacity: 1;
        z-index: 1;
        @include max-screen($breakpoint-sp) {
            background-image: url('../images/common/loading-sp.jpg');
        }
    }
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#FFFFFF,0.3);
        z-index: 2;
        opacity: 0.25;
        @include max-screen($breakpoint-sp) {
            background-image: url(../images/common/bg-s.jpg);
            background-size: cover;
        }
    }
    .arrow{
        z-index: 3;
        >span{
            &:before{
                background-color: #FFFFFF;
            }
        }
    }
    .inner{
        position: relative;
        z-index: 3;
        @include max-screen($breakpoint-sp) {
            margin-top: 50px;
        }
        .t{
            white-space: nowrap;
            font-size: 40px;
            letter-spacing: 0.15em;
            opacity: 0;
            color: #FFFFFF;
            @include max-screen($breakpoint-sp) {
                color: #333333;
            }
            svg{
                width: 450px;
                height: 123px;
                fill: #FFFFFF;
                @include max-screen($breakpoint-sp) {
                    fill: #333333;
                }
                @include max-screen($breakpoint-sp) {
                    width: 320px;
                    height: 88px;
                }
                @include max-screen(350) {
                    width: 300px;
                    height: 82px;
                }
            }
        }
        .n{
            font-size: 26px;
            letter-spacing: 0.2em;
            display: block;
            margin-top: 10px;
            opacity: 0;
            color: #FFFFFF;
            @include max-screen($breakpoint-sp) {
                font-size: 16px;
                color: #333333;
            }
        }
        .d{
            font-size: 26px;
            letter-spacing: 0.2em;
            display: block;
            margin-top: 10px;
            opacity: 0;
            color: #FFFFFF;
            @include max-screen($breakpoint-sp) {
                font-size: 16px;
                color: #333333;
            }
        }
    }
    .t.is-invasion.fadeInUp{
        transition: transform 1.8s 3.2s $ease-out, opacity .5s 3.2s;
    }
    .n.is-invasion.fadeInUp{
        transition: transform 1.8s 3.5s $ease-out, opacity .5s 3.5s;
    }
    .d.is-invasion.fadeInUp{
        transition: transform 1.8s 3.7s $ease-out, opacity .5s 3.7s;
    }
}


body.is-load-end.is-load-scroll{
    #{$root}{
        .inner{
            .t.is-invasion{
                transition: transform 1.8s .5s $ease-out, opacity .5s .5s;
            }
            .n.is-invasion{
                transition: transform 1.8s .8s $ease-out, opacity .5s .8s;
            }
            .d.is-invasion{
                transition: transform 1.8s 1.1s $ease-out, opacity .5s 1.1s;
            }
        }
    }
  }