$root: '.p-news';

#{$root} {
    text-align: center;
    margin-top: 30px;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: block;
    padding: 30px 0;
    @include max-screen(350) {
        height: auto;
        padding: 50px 0;
        display: block;
    }
    .header{
        .t{
            font-size: 27px;
            letter-spacing: 0.14em;
        }
    }

    .body{
        padding: 0 15px;
        max-width: 600px;
        margin: 40px auto 0;
        p{
            font-size: 18px;
            letter-spacing: 0.14em;
            line-height: 40px;
            @include max-screen($breakpoint-sp) {
                font-size: 13px;
                letter-spacing: 0.07em;
                line-height: 22px;
                text-align: center;
            }
            @include max-screen(350) {
                font-size: 11px;
            }
        }
    }
}
