$color-base: #fff;
$color-text: #333;
$color-main: #333;
$color-sub: tomato;
$color-black: #2f2d2d;
$color-white: #ffffff;
$color-blue: #0d4a62;
$color-gray: #e9e9e9;
$color-red: #a3373c;
$color-thin-grey: #ebecec;
$color-thin-blue: #e7ecf0;

$color-win: #f04145;
$color-lose: #7e7e7e;

$color-white: #FFFFFF;
$color-btn-blue: #0f4368;
$color-blue: #0f4368;
