/* color */
// easeSin-in http://easings.net/ja#easeInSine
$ease-sin-in: cubic-bezier(0.47, 0, 0.745, 0.715);
// easeSin-out http://easings.net/ja#easeOutSine
$ease-sin-out: cubic-bezier(0.39, 0.575, 0.565, 1);
// easeSin-inout http://easings.net/ja#easeInOutSine
$ease-sin-inout: cubic-bezier(0.445, 0.05, 0.55, 0.95);

// ease#Quad-inout http://easings.net/ja#easeInOutQuad
$ease-quad-inout: cubic-bezier(0.455, 0.03, 0.515, 0.955);

// ease#Cubic-inout http://easings.net/ja#easeInOutCubic
$ease-cubic-inout: cubic-bezier(0.645, 0.045, 0.355, 1);
//http://easings.net/ja#easeOutCubic
$ease-cubic-out: cubic-bezier(0.215, 0.61, 0.355, 1);

// ease#Quart-inout http://easings.net/ja#easeInOutQuart
$ease-quart-inout: cubic-bezier(0.79, 0.17, 0.15, 0.96);
//http://easings.net/ja#easeOutQuart
$ease-quart-out: cubic-bezier(0.165, 0.84, 0.44, 1);

// ease#Expo-in http://easings.net/ja#easeIn#Expo
$ease-expo-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
// ease#Expo-out http://easings.net/ja#easeOut#Expo
$ease-expo-out: cubic-bezier(0.19, 1, 0.22, 1);
// ease#Expo-inout http://easings.net/ja#easeInOut#Expo
$ease-expo-inout: cubic-bezier(1, 0, 0, 1);

$ease-out: cubic-bezier(0.08, 0.92, 0.35, 1);

$ease-out-low: cubic-bezier(0.19, 0.82, 0.27, 1);

$ease-in: cubic-bezier(0.7, 0, 1, 1);

$ease-inout: cubic-bezier(0.7, 0, 0.3, 1);
// $ease-bound: cubic-bezier(0.32, 0.43, 0.49, 1.36);

$ease-outin: cubic-bezier(0.7, 0, 0.3, 1);

$ease-project: cubic-bezier(0.6, 0.4, 0.15, 1);

$ease-spring: cubic-bezier(0.89, 0.04, 0.13, 1.1);

$ease: cubic-bezier(0.24, 0.88, 0.58, 1);

$ease-bound: cubic-bezier(0.32, 0.43, 0.49, 1.36);

$ease-bound-power-2: cubic-bezier(0.9, -0.05, 0.07, 1.5);

$ease-ease: cubic-bezier(0, 0, 1, 1);
